# Build
build/
dist/
.remix/

# Cache
**/.cache/
node_modules/

# IDE
.idea/
**/.vscode/

# Editors
.eslintrc.js
.prettierrc.js
.stylelintrc.js

# Testing
coverage/
test-results/

# Temporary files
.DS_Store
*.tmp
*.log
*.sqlite

# Environment variables
.env.local
.env.development
.env.test
.env.production

# Logs
logs/

# NPM lock files
package-lock.json
yarn.lock